<div class="container">
  <h1>Courses</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th class="text-center">Temas</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td class="text-center"><%= course.subjects.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
